@{
    ViewData["Title"] = "Home Page";
}
<section class="wrapper">
    <div class="text-center ">
        <h1 class="display-4">权限点列表信息页面</h1>
    </div>
    <div class="nav search-row " id="top_menu">
        <!--  search form start 搜索框-->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="权限点名称" type="text">&nbsp;
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>
    <!--列表-->
    <div class="row panel-body">
        <a class="btn btn-default btn-sm" title="添加" onclick="ab()">
            <i class="fa fa-plus"></i>&nbsp;添加
        </a>
        <a class="btn btn-default btn-sm" href="" title="修改">
            <i class="fa fa-pencil"></i>&nbsp;修改
        </a>
        <a class="btn btn-default btn-sm" href="" title="删除">
            <i class="fa fa-minus"></i>&nbsp;删除
        </a>
        <a class="ui-icon-radio-on">
            <input type="radio" name="Start" id="starts" value="2">
            <span class="ui-icon-radio-on">启用</span>
            <label>&nbsp;</label>
            <input type="radio" name="Start" id="stop">
            <span class="ui-icon-radio-off">禁用</span>
        </a>
        @*<a class="switch-on switch-animate">
                <input type="checkbox" checked="" data-toggle="switch">
                <span class="switch-left">ON</span>
                <label>&nbsp;</label>
                <span class="switch-right">OFF</span>
            </a>*@

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-flag-o red"></i><strong> Access List</strong></h2>
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table bootstrap-datatable users">
                        <thead>
                            <tr>
                                <th></th>
                                <th>权限点ID</th>
                                <th>权限点名称</th>
                                @* <th>父节点</th>*@
                                <th>是否启用</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td i class="label_check" for="checkbox-01">
                                    <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" checked />
                                </td>
                                <td>1</td>
                                <td>增加用户</td>
                                <td>是</td>
                            </tr>
                            <tr>
                                <td i class="label_check" for="checkbox-01">
                                    <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" />
                                </td>
                                <td>2</td>
                                <td>删除用户</td>
                                <td>是</td>
                            </tr>
                            <tr>
                                <td i class="label_check" for="checkbox-02">
                                    <input name="sample-checkbox-02" id="checkbox-02" value="2" type="checkbox" />
                                </td>
                                <td>3</td>
                                <td>增加角色</td>
                                <td>否</td>
                            </tr>
                            <tr>
                                <td i class="label_check" for="checkbox-03">
                                    <input name="sample-checkbox-03" id="checkbox-03" value="2" type="checkbox" />
                                </td>
                                <td>4</td>
                                <td>删除用户组</td>
                                <td>否</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <!--遮罩层-->
    <div class="mask" id="mask" style="width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);">
        <div class="add" id="add" style=" width: 500px;
        height: 350px;
        background-color: #fff;
        margin: 150px auto;">
            <section class="panel">
                <header class=" text-center">
                    <h2>添加权限点</h2>
                </header>
                <div class="col-sm-offset-2 col-sm-8">

                    <div class="form">
                        <form class="form-validate form-horizontal " id="register_form" method="get" action="" novalidate="novalidate">
                            <div class="form-group ">
                                <label for="aname" class="control-label col-lg-2">权限点名称 <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class=" form-control" id="aname" name="aname" type="text">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="adesc" class="control-label col-lg-2">权限点描述<span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class=" form-control" id="adesc" name="adesc" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <button class="btn btn-default" type="button" id="cancel">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

</div>
    </div>

</section>
<script src="~/Test.js"></script>
<script type="text/javascript">
    //var a = document.getElementsByTagName("a")[0];
    //var mask = document.getElementById("mask");
    //function ab(event) {
    //    mask.style.display = "block";
    //    //阻止冒泡
    //    event = event || window.event;
    //    if (event || event.stopPropagation()) {
    //        event.stopPropagation();
    //    } else {
    //        event.cancelBubble = true;
    //    }
    //}

    //document.onclick = function (event) {
    //    event = event || window.event;
    //    //兼容获取触动事件时被传递过来的对象
    //    var aaa = event.target ? event.target : event.srcElement;
    //    if (aaa.id == "mask" || aaa.id =="cancel") {
    //        mask.style.display = "none";
    //    }
    //}
</script>
