@{
    ViewData["Title"] = "Home Page";
}
<section class="wrapper">
    <div class="text-center ">
        <h1 class="display-4">权限点列表信息页面</h1>
    </div>


    @*<div class="panel-body">
            <div class="row m-bot15">
                <div class="col-sm-6 text-center">
                    <div class="switch has-switch"><div class="switch-on switch-animate"><input type="checkbox" checked="" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="switch has-switch"><div class="switch-animate switch-off"><input type="checkbox" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
                </div>
            </div>
            <div class="row m-bot15">
                <div class="col-sm-6 text-center">
                    <div class="switch switch-square has-switch" data-on-label="<i class=' icon-ok'></i>" data-off-label="<i class='icon-remove'></i>">
                        <div class="switch-animate switch-off"><input type="checkbox"><span class="switch-left"><i class=" icon-ok"></i></span><label>&nbsp;</label><span class="switch-right"><i class="icon-remove"></i></span></div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="switch switch-square has-switch" data-on-label="<i class=' icon-ok'></i>" data-off-label="<i class='icon-remove'></i>">
                        <div class="switch-animate switch-on"><input type="checkbox" checked=""><span class="switch-left"><i class=" icon-ok"></i></span><label>&nbsp;</label><span class="switch-right"><i class="icon-remove"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="switch has-switch deactivate"><div class="switch-animate switch-off"><input type="checkbox" disabled="" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="switch has-switch deactivate"><div class="switch-animate switch-on"><input type="checkbox" checked="" disabled="" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
                </div>
            </div>
        </div>*@

    <div class="nav search-row " id="top_menu">
        <!--  search form start 搜索框-->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="权限点名称" type="text">&nbsp;
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>
    <!--列表-->
    <div class="row panel-body">
        <a class="btn btn-default btn-sm" href="" title="添加">
            <i class="fa fa-plus"></i>&nbsp;添加
        </a>
        <a class="btn btn-default btn-sm" href="" title="修改">
            <i class="fa fa-pencil"></i>&nbsp;修改
        </a>
        <a class="btn btn-default btn-sm" href="" title="删除">
            <i class="fa fa-minus"></i>&nbsp;删除
        </a>
        <a class="ui-icon-radio-on">
            <input type="radio" name="Start" id="starts" value="2">
            <span class="ui-icon-radio-on">启用</span>
            <label>&nbsp;</label>
            <input type="radio" name="Start" id="stop" >
            <span class="ui-icon-radio-off">禁用</span>
        </a>
                @*<a class="switch-on switch-animate">
                    <input type="checkbox" checked="" data-toggle="switch">
                    <span class="switch-left">ON</span>
                    <label>&nbsp;</label>
                    <span class="switch-right">OFF</span>
                </a>*@

    </div>






            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-flag-o red"></i><strong> Access List</strong></h2>
                            <div class="panel-actions">
                                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table bootstrap-datatable users">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>权限点ID</th>
                                        <th>权限点名称</th>
                                        @* <th>父节点</th>*@
                                        <th>是否启用</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td i class="label_check" for="checkbox-01">
                                            <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" checked />
                                        </td>
                                        <td>1</td>
                                        <td>增加用户</td>
                                        <td>是</td>
                                    </tr>
                                    <tr>
                                        <td i class="label_check" for="checkbox-01">
                                            <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" />
                                        </td>
                                        <td>2</td>
                                        <td>删除用户</td>
                                        <td>是</td>
                                    </tr>
                                    <tr>
                                        <td i class="label_check" for="checkbox-02">
                                            <input name="sample-checkbox-02" id="checkbox-02" value="2" type="checkbox" />
                                        </td>
                                        <td>3</td>
                                        <td>增加角色</td>
                                        <td>否</td>
                                    </tr>
                                    <tr>
                                        <td i class="label_check" for="checkbox-03">
                                            <input name="sample-checkbox-03" id="checkbox-03" value="2" type="checkbox" />
                                        </td>
                                        <td>4</td>
                                        <td>删除用户组</td>
                                        <td>否</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
</section>
