@{
    ViewData["Title"] = "Home Page";
}
<section class="wrapper">
    <div class="text-center">
        <h1 class="display-4">用户组明细信息页面</h1>
    </div>
    <div class="col-lg-6 text-center">
        <section class="panel">
            <header class="panel-heading">
                用户组信息
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal" id="feedback_form" method="get" action="" novalidate="novalidate">
                        <div class="form-group ">
                            <label for="rname" class="control-label col-lg-4">用户组名称<span class="required">*</span></label>
                            <div class="col-lg-6">
                                <input class="form-control" id="rname" name="rname" type="text" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="rdesc" class="control-label col-lg-4">用户组描述<span class="required">*</span></label>
                            <div class="col-lg-6">
                                <input class="form-control " id="rdesc" type="text" name="rdesc" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-4">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <button class="btn btn-default" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </div>
</section>